html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:focus {
  outline: none;
  }
:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent: #404bbf;
  --link-text-color: #4d5ae5;
  --text-color: #f4f4fd;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow:hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.samples-title,.team-title{
font-size: 36px;
line-height:1.11;
}
h1, h2, h3, h4, p{
  margin: 0;
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
}
img{
display: block;
max-width: 100%;
height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right:auto; }

    
 
/* Header */
/* site nav */

.page-header {
        padding: 16px 0;
        border-bottom: 1px solid #E7E9FC;
      }
      .logo.link{
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      color: var(--link-text-color);
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-decoration: none;
    }
    .logo-studio {
      color: var(--secondary-text-color);
    }
    .contacts.link{
      width: 154px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
    }
    .contacts-nav-item
{ text-decoration: none;}    
.inner-container{
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .page-header {
      display: flex;  
      padding: 24px 0;
      border-bottom: 1px solid #E7E9FC;
    }
    .header-nav {
      display: flex;

    }
    .nav-list-item{
      position: relative;
    }
    .nav-list-item.active::after{
      content: '';
      position: absolute;
      left: 0; bottom: -26px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color:#404BBF;
    }
    .contacts-nav{
      display: flex;
      gap: 40px;
    }
    .contacts:hover,
    .contacts:focus {
      color: var(--accent);
    }
    .site-nav {
      display: flex;
      gap: 40px;

    }
    .site-nav .link {
      color: var(--secondary-text-color);
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      text-decoration: none;
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .site-nav .link:hover,
    .site-nav .link:focus {
      color: var(--accent);
    }
    .nav-list-item.active{
      color: var(--accent) ;}


@media screen and (max-width: 767px){
 .container{
  width:428px;}
.header-nav{
  width:428px;
}
  .site-nav.list{
    display: none;
  }
  .address{
    display: none;
  }
    .header-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .open-mobile-menu-btn{
      width: 40px ;
      height:30px ;
     flex: end;
     margin-right: 16px;
background-color: transparent;
padding: 0;
border: none;
cursor: pointer;
    }   
}
  @media screen and (min-width: 768px) and (max-width: 1158px){
        .container{
          width:768px;
  }
  .page-header{
    padding: 16px 0;
  }
    .open-mobile-menu-btn{
      display: none;
    }
    .site-nav{
      display:flex;
      gap: 40px;
      margin-right: 120px;
    }
    .address{
      display: flex;
    }
    .contacts-nav.list{
      display: block;
    }
    .contacts.link{
    font-weight: 400;
   font-size: 12px;
      line-height: 1.17;
      margin-bottom: 12px;
    }
    .contacts-nav-item:last-child{
      margin: 0;
    }
    .inner-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      margin-right: 120px;
    }
    .nav-list-item.active::after{
     bottom: -25px;
    }}
    @media screen and (min-width: 1158px){
      .container{
        width: 1158px;}
        .open-mobile-menu-btn{
          display: none;
        }
        .logo {
          margin-right: 76px;
        }
      }
      @media screen and (max-width: 427px){
        .page-header{
         width:100%}
         .container.head{
          width: 100%;
         }
       }
    
/* mobile menu */
@media screen and (min-width: 767px) {
  .mobile-menu{
    display: none;
  }
} 
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}
.area-1{
  display: flex;
  flex-grow: 1;
}
.area-2{
  display: flex;
  flex-grow: 0;
  flex-direction: column;
}
.mobile-menu{
  position: fixed;
  width:100%;
  height: 100%;
  z-index:100;
  top:0;
  right:0;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); 

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear,  visibility 500ms linear;
}
.mobile{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top:80px ;
  padding-left:24px ;
  padding-bottom: 40px;
}
.mobile-close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 40px;
  width:24px ;
  height:24px ;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}
.mobile-menu-nav>li{
  margin-bottom: 40px;
}
.mobile-menu-nav-item{
  color:var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-decoration: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
margin-bottom: 40px;
}
.mobile-menu-nav>li:last-child {
  margin-bottom:0;
}
.mobile-menu-nav-item:hover,
.mobile-menu-nav-item:focus {
  color: var(--accent);}
  
  .contacts-mobile-nav.link{
    display: flex;
  color: var(--primary-text-color);
  font-weight:500;
  font-size: 20px;
  line-height: 1.2;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-mobile-nav-item{ 
    margin-bottom: 40px;
  }
  .contacts-mobile-nav-item:last-child{
    margin-bottom:48px;
  }
  
  .contacts-mobile-nav-item.tel{
    color: var(--link-text-color);
    font-weight:700;
    font-size: 36px;
    line-height: 1.11;
    text-decoration: none;
  }
  .mobile-list-social{
    display: flex;
    justify-content: space-between;
  }
/* hero */

.hero {
  display: flex;
  justify-content:center ;
  background-color: var(--secondary-text-color); 
}
.overlay{
  background-image: linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/convert-pic/hero-decstop.jpg);   
  background-size:cover;
  background-repeat: no-repeat ;
} 
.hero-title {
  flex-wrap: wrap;
  width: 496px;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 48;
  margin-left: auto;
}
.hero-button {
  display: block;
  font-family: "Roboto", sans-serif;
  width: 170px;
  height: 56px;
  background-color: var(--link-text-color);
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 48px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent);
}

@media screen and (max-width: 767px){
  .container{
    width:428px;
  }
  .hero {
    width: 100%;
    padding: 112px 0;
    margin-right:auto ;
    margin-left: auto;
  }
  .hero-title {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 320px;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
}}
  @media screen and (min-width: 768px) and (max-width: 1158px){
    .container{
      width: 768px;
    }
    .hero {
      width: 100%;
      padding: 112px 0;
      margin-left: auto;
  margin-right: auto;
}
    }
  @media screen and (min-width: 1158px)
  {.container{
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  max-width: 1440px;
  padding: 188px 0;
  margin-left: auto;
margin-right: auto;
  }
  }@media screen and (max-width: 427px){
  .hero.overlay{
   width:100%;
   padding: 112px 0;
 
  }
   .container.hero0{
    width: 100%;

   }
   .hero-title{
    width: 100%;
    margin-bottom: 72px;
   }
   .hero-title {
    width: 100%;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.17;
  }
 }
  @media screen and (max-width: 767px){
    .overlay{
      background-image: linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/convert-pic/hero-mobile.jpg);   
    } 
  }

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (min-width:767px),
screen and (min-resolution: 2dppx) and (min-width:767px)
{
  .overlay{
    background-image:linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/convert-pic/heto-mobile@2x.jpg);   
  } 
}

@media screen and (min-width: 768px){
  .overlay{
    background-image:linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/convert-pic/hero-tablet.jpg);   
  } 
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution:192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px)
{
.overlay{
  background-image:linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/convert-pic/hero-tablet@2x.jpg);   
} 
}

@media screen and (min-width: 1158px){
  .overlay{
    background-image:linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/convert-pic/hero-decstop.jpg);   
  } 
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width:1158px),
screen and (min-resolution: 2dppx) and (min-width:1158px)
{
.overlay{
  background-image:linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/convert-pic/hero-decstop@2x.jpg);   
} 
}

/* Advances section */

 @media screen and (max-width: 767px){
  .container{
    width:428px;
  }
  .advances {
    display: block;
    padding: 96px 0;
    margin: auto;
  }
  .advances-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 396px; 
    gap:72px 0 ;
  }
  .advances-list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 396px;
   
} 
  .advances-list:last-child{
    margin-bottom: 0;
  }
  .advances-pic{
    display: none;
  } 
  } 
  .advances-title {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1158px){
  .container{
    width: 768px;
  }
  .advances{
    display: block;
    padding: 96px 0;
    margin:0 auto;
  }
  .advances-list.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px ;
    margin: 0 auto;
  }
  .advances-list-item{
    width: 356px;
} 
.advances-pic{
  display: none;
} 
.work-samples{
  display: none;
}

} 

@media screen and (min-width: 1158px)
  {.container{
  width: 1158px;
}
  .advances{
    padding: 120px 0;
    margin-right: auto;
    margin-left: auto;
  }
    .advances-list.list{
      
      display: flex;
      flex-direction: row;
      margin: 0;
    gap: 22px;
    }
    .advances-list-item{
      width: 264px;
      
  }
  .advances-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--text-color);
    margin-bottom: 8px;
  }
  .advances-svg{
    display: block;
  margin: 0 auto;}

  
  .advances-title {
    color: var(--secondary-text-color);
    font-weight:500;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin:0 0 8px 0;
  }
}@media screen and (max-width: 427px){
  .advances section{
   width:100%
  }
  .advances.section{
    width: 100%;
  }
  .container.advan{
    width: 100%;
  }
  .advances-list.list{
    width: 100%;
  }
  .section-text{
    width: 100%;
  }
  .advances-list-item{
    width: 100%;
  }
 }
.section-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  .secondary-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0 0 8px 0;
  }





/* What are we doing */
@media screen and (max-width: 427px){
  .work-samples{
   width:427px}
 }
@media screen and (max-width: 767px){
  .work-samples{
    display: none;}
}
@media screen and (min-width: 768px) and (max-width: 1158px){
  .work-samples{
    display: none;}
}

@media screen and (min-width: 1158px){
  .work-samples{
    width: 1158px;
    display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:120px; 
  margin: 0 auto ;
  }
}

.samples-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 1.11;
  padding: 0;
  margin-top: 0;
  margin-bottom: 72px;
}
.samples{
display: flex;
margin: 0;
padding: 0;
}
.samples-pic img{
  display: block;
  max-width: 100%;
  height: auto;
}
.samples-pic:not(:last-child){
  margin-right: 24px;
}


/* Customeres */

.customers-list.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.customers-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  
}
.customers-link.link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border:1px solid #8E8F99;
  border-radius: 4px;
  color: #8E8F99;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-list-item :hover, 
  .customers-list-item :focus{
  border-color: #404BBF;
  color:#404BBF;
}
.customers-svg {
 display: flex;
    fill: currentColor;
}
.customers-list-item {
  width: 168px;
  height:88px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
 .customers{
  padding: 120px 0;
}

@media screen and (max-width: 767px){
  .container{
    width: 428;}
    .customers{
      padding: 96px 0;
    }
    .customers-list-item {
      width: 190px;
    }
    .customers-list.list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 72px 16px;
}}
@media screen and (min-width: 768px) and (max-width: 1158px){
  .container{
    width: 768px;}
    .customers{
      padding: 96px 0;
      margin: 0 auto;
    }
    .customers-list{
      justify-content: center;
    }
    .customers-list-item {
      width: 168px;
    }
    .customers-list {
      gap: 72px 30px;
}
}
@media screen and (min-width: 1158px){
  .container.main-customeres{
    width: 1158px;}
}
@media screen and (max-width: 427px){
  .customers{
   width:100%}
   .container.main-customeres{
width: 100%;
   }
   .customers-list.list{
width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
   }
 }

/* our team */

  .our-team{
    background-color: #F4F4FD;
  }
.team-title{
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  margin-top: 0;
}
.team-item{
  width: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,25%);
  border-radius:0 0 4px 4px;
}
  .team-item-info{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  padding:32px 0;
  width: 100%;
  border-radius:0 0 4px 4px;
}
  .section-text
{display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
  .team-list-social,.footer-social {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .team-social-link,.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #F4F4FD;
    background-color:#4D5AE5 ;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
    
    .team-social-link:hover,
    .team-social-link:focus {
    background-color:#404BBF;
    } 

@media screen and (max-width: 767px){
  .container{width: 428px;
  }
  .team{
    display: flex;
      flex-direction: column;
      justify-content: center;
    width: 100%;
    padding:96px 0;
    margin: 0 auto;
  }

.team-list{
  display: block;
}
.team-item{
  display: block;
  margin: 0 auto 72px auto;}

.team-item:last-child{
  margin-bottom: 0 ;
}
}
@media screen and (min-width: 768px) and (max-width: 1158px){
  .container{
    width: 768px;
  }
  .our-team{
    margin-right: auto;
    margin-left: auto;
  }
  .team{
    width: 768px;
    padding:96px 0;
  }
  .team-list{
    display: flex;
      flex-direction: column;
      justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
   .team-item
   {
    margin-right:20px;
    margin-bottom: 64px;
  }
    .team-item:nth-child(2n) {
      margin-right: 0;
    }
    .team-item:nth-child(n + 3) {
      margin-bottom: 0;
    }

}
@media screen and (min-width: 1158px){
  .container{
    width: 1158px;
  }
  .team{
    display: flex;
    flex-direction: column;
    align-items: center;
      border-radius:0 0 4px 4px;
      padding: 120px 0;
    }
    .team-list{
      display: flex;
      flex-direction: row;
      gap: 24px;
      }
  }
  @media screen and (max-width: 427px){
  .our-team{
   width:100%
  }
  .container.team0{
    width: 100%;
  }
  .team{
  padding:96px 0;
}
    .team-list .list{
      width: 100%;
    }
 }
/* footer */

.main-footer{ 
display: flex;
background-color: var(--secondary-text-color);
padding: 100px 0;}

.footer-content{
  display: flex;
  align-items: left; 
  
}
.footer-logo {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
 margin-right: 120px;
}

.footer-log.link{
  display: block;
  font-family: "Raleway", sans-serif;
  color: var(--link-text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;

}
.footer-studio {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-social{
 display: block;
 margin-right: auto;
}
.footer-social-list{
display: flex;
gap: 16px;
}
.footer-social-link {
  display: flex;
  flex-direction: row;
}
.footer-social-title{
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin:0 0 16px 0;
}
   .footer-social-link:hover,
   .footer-social-link:focus {
    background-color:#31D0AA;
    }
.subscribe-title {
  color: #fff;
  font-weight:500;
  font-size:16px;
  line-height:1.5;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: row;
}
.footer-form-input{
  width:264px ;
  height:40px ;
  color:#fff;
  background-color: var(--secondary-text-color);
  border: 1px solid #fff;
  padding-left: 16px;
  border-radius: 4px;
}
.footer-form-field {
  margin-right: 16px;
}
.footer-btn-form {
  background-color:var( --link-text-color) ;
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 165px;
  height: 40px;
  border-radius: 4px;
cursor: pointer;
padding:8px 24px;
border: none;
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-text{
  color: #fff;
  font-weight:500;
  font-size:16px;
  line-height:1.5;
  margin-right: 16px;

}
.footer-form-svg{
  display: block;
  fill: #fff;
}
.footer-btn-form:hover,
.footer-btn-form:focus{
background-color:var(--accent);
} 


@media screen and (max-width: 767px){
    .container{width: 428px;
    }
    .main-footer-form
    .main-footer{ 
      padding: 96px 0;
    }
    .footer-content.container{
      display: block;
     
    }
    .footer-logo{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 72px ;
      margin-left:auto ;
      margin-right:auto ;

    }
    .footer-social{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 72px ;
      margin-left:auto ;
      margin-right:auto ;
    }
    .main-subscribe-title{
      display: flex;
      margin-bottom: 16px ;
      justify-content: center;
    }
    .main-footer-form{
      display: block;
      margin: 0 auto;
    }
    .footer-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left:auto ;
      margin-right:auto ;
    }
    .footer-form-input{
      width: 428px;
      margin-bottom: 16px;
    }
    .footer-form-field{
      margin: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1158px){
    .container{
      width: 768px;
    }
    .main-footer{
      display: flex;
      padding: 96px 0;
    }
    .footer-content.container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
      width: 552px;
    }
    .footer-logo {
     margin-right: 0;
    }
    .footer-social{
      margin-right: 0;
     }
     .modal{
      width: 392px;
     }
  }
@media screen and (min-width: 1158px){
  .container{
    width: 1158px;
  }
}
@media screen and (max-width: 427px){
  .main-footer{
   width:100%;
  }
  .footer-form-field{
    width: 100%;
  }
 .footer-form-input{
  width:100%;}

}

/* backdrop */

.backdrop {
  position: relative;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
box-shadow: 0 4px 4px 0 rgba(0,0,0,25%);
border: 1px solid rgba(0, 0, 0, 0.2);
z-index:100;
transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.backdrop.is-hidden{
  opacity:0;
  visibility:hidden;
  pointer-events:none;
 }
 .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
width: 408px;
height: 576px;
background-color: #ffffff;
padding:72px 24px 24px 24px ;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width:24px ;
  height:24px ;
  background-color:#E7E9FC ;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus{
  fill:#ffffff ;
  background-color: #D9D9D9;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px){
.modal{
  width: 392px;
 }
}
@media screen and (max-width: 428px){
  .modal{width: 100%;
  }}

/* modal form */

.main-modal-form{
display: flex;
flex-direction: column;
}
.main-modal-massage {
  display: flex;
  justify-content: center;
font-weight:500;
font-Size:16px;
line-height:1.5;
color: var(--secondary-text-color);
margin-bottom: 16px;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-wrapper{
  display: block;
  position: relative;
}
.modal-form-description {
  display: block;
  color: #8E8F99;
  font-size: 12px;
line-height: 1.17;
margin-bottom: 4px;
}
.modal-form-input {
  font-size: 16px;
  line-height: 1.17;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding:0 0 0 38px;
  color: #2E2F42;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus{
  outline: none;
  border-color: #4D5AE5;
} 
.modal-form-svg {
  display: block;
  position: absolute;
  fill:#2E2F42 ;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-svg{
  fill: #4D5AE5;
}
.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0;
}
.modal-textarea:focus{
  border-color: #4D5AE5;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder{
  font-size: 12px;
  line-height: 1.17;
  color:rgba(46, 47, 66, 0.4) ;
}
.modal-form-check-desc::before{
  display: block;
  content:'';
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.modal-form-check:checked + .modal-form-check-desc::before{
  background-color: var(--accent);
  background-image: url(../images/pointer.svg);
  fill:rgba(244, 244, 253, 1);
  background-repeat:no-repeat;
  background-position: 50% 50%;
}
.modal-form-check-desc{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  color: #8E8F99;
  margin-bottom: 24px;
}
.modal-form-check-desc>a{
color: #4D5AE5;
text-decoration-line: underline;
}
.modal-form-submit-btn {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #4D5AE5;
  width: 170px;
  height:56px;
  border: none;
  border-radius: 4px;
  margin:0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15)s;
}

.modal-form-submit-btn:hover,
.modal-form-submit-btn:focus,
.modal-form-submit-btn:active{
  background-color:#404BBF;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
